<h1>Change password</h1>
  <div>Account name : {{user.nick}}</div>
  <div class="alert alert-danger" role="alert" ng-show="error">Different password</div>
  <div class="alert alert-success" role="alert" ng-show="changed">Password changed</div>

	<form class="form-horizontal" ng-submit="submit()">
		
      <div class="form-group">
		<label for="nom" class="col-sm-2 control-label">Actual password :</label>
		<div class="col-sm-10">
		  <input type="password" class="form-control" id="passPrevious" placeholder="actual password" ng-model="form.passPrevious">
		</div>
	  </div>
		
	  <div class="form-group">
		<label for="nom" class="col-sm-2 control-label">New password :</label>
		<div class="col-sm-10">
		  <input type="password" class="form-control" id="pass1" placeholder="new password" ng-model="form.pass1">
		</div>
	  </div>
	  
	  <div class="form-group">
		<label for="mail" class="col-sm-2 control-label">New password :</label>
		<div class="col-sm-10">
		  <input type="password" class="form-control" id="pass2" placeholder="new password again" ng-model="form.pass2">
		</div>
	  </div>
	 
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-default">Confirm</button>
		  <a href ui-sref="settings" class="btn btn-warning" onclick="window.history.back()">Back</a>
		</div>
	  </div>
	  
	</form>
	
	<br/>
	<br/>
	<div class="alert alert-info">You will have to reconnect after changing your password</div>
	
