body {
	padding-top: 45px;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 100%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
		margin-left: 45%;
		margin-top: 100px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.botborder {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgb(150, 150, 150);
	height: 45px;
	display: block;
}

nav ul li .linknodeco:hover,
nav ul li .linknodeco:active,
nav ul li .linknodeco:focus {
	text-decoration: none;
	outline: none !important;
}

nav ul li .linknodeco:active {
	background-color: rgba(1, 1, 1, 0.5);
}

.transibutton {
	opacity: 1;
	position: relative;
	left: 0px;
}

.transibutton.ng-hide-add, .transibutton.ng-hide-remove {
	transition: all linear 0.2s;
}

.transibutton.ng-hide {
	opacity: 0;
	left: -100px;
}

.center-content {
	display: block;
	text-align: center;
	z-index: -1000;
	width: 100%;
	position: absolute;
}

.specheight {
	position: relative;
	height: 100%;
}

.ui-view-container {
	position: relative;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:translate3d(200px, 0, 0);
  -moz-transform:translate3d(200px, 0, 0);
  transform:translate3d(200px, 0, 0);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:translate3d(0px, 0, 0);
  -moz-transform:translate3d(0px, 0, 0);
  transform:translate3d(0px, 0, 0);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(-200px, 0, 0);
  -moz-transform:translate3d(-200px, 0, 0);
  transform:translate3d(-200px, 0, 0);
}

@-webkit-keyframes clignote {
0%{background-color: #f2dede;}
50%{background-color: #a94442;}
100%{background-color: #f2dede;}
}

.alert-danger {
-webkit-animation-name: clignote; //on affecte l'animation clignote à notre bouton
-webkit-animation-duration: 1s; //on définit la durée de l'animation à 1s
-webkit-animation-iteration-count:infinite; //on dit que l'animation se répétera à l'infini.
}

img {
	float: right;
	height: 200px;
	width: 200px;
}

.active {
	background-color: #eee;
}

.chatActive {
	display: block;
}

.search-user{
	margin-bottom: 4px !important;
}

#navbarbackground  {
	background-color: #fff;

}