<div class="container">
	<h1 class="row col-sm-6">My contracts</h1>
		<div class="form-group col-sm-4">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="recherche">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			</div>
		</div>
</div>
<div class="well">
	<span class="label label-success" ng-click="statusFilters.status='FINALIZED'">Signed Contract</span>
	<span class="label label-info" ng-click="statusFilters.status='MODIFIED'">Modified Contract</span>
	<span class="label label-warning" ng-click="statusFilters.status='NOWHERE'" >New Contract</span>
	<span class="label label-danger" ng-click="statusFilters.status='CANCELED'">Contract Denied</span>
	<span class="label label-primary" ng-click="statusFilters.status='RESOLVING'">RESOLVING</span>
	<span class="label label-default" ng-click="statusFilters.status='SIGNING'">Signing</span>
	<span class="label label-default"><span class="glyphicon glyphicon-remove" ng-click="statusFilters.status=''"></span></span>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6" ng-repeat="contract in contracts | filter : statusFilters | filter : recherche">
		<contract></contract>
	</div>
</div>
