<h2 ng-show="{{action === 'add'}}">Add a new contract</h2>
<h2 ng-show="{{action === 'edit'}}">Edit a contract</h2>

<form ng-submit="submit()">

	<br>

	<!-- Contract name field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label for="title" class="control-label">
				<span class="glyphicon glyphicon-file"></span> Contract name
			</label>
		</div>
		<div class="panel-body">
			<input type="hidden" id="id" ng-model="form.id">
			<input type="text" class="form-control" id="title" placeholder="Name" ng-model="form.title">
		</div>
	</div>

	<!-- Parties field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-user"></span> Party
			</label>
		</div>
		<div class="panel-body">
			<div class="col-sm-8" ng-repeat="party in parties">

			</div>
			<div class="row">
				<div class="col-sm-6">
					<select class="form-control custom-select" id="addParty" ng-model="form.addParty">
						<option value="" selected disabled>Choose a user</option>
						<option ng-repeat="user in userList">{{user.name}} - {{user.id}}</option>
					</select>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-default" ng-click="updateparties()">Add party</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Exchanges field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-gift"></span> Exchange
			</label>
		</div>
		<div class="panel-body">
			<div class="col-sm-12 col-md-12" ng-repeat="exchangeclause in exchangeClause">

				{{exchangeclause}}
			</div>
			<div class="col-sm-8">
				<div class="row">
					<label for="selectfrom" class="col-sm-3 col-md-2">FROM</label>
					<span class="col-sm-9 col-md-10"><select id="selectfrom" class="form-control" ng-model="fromexchange" title="From Party">
		    		<option value="" selected="selected" disabled>Choose a user</option>
		    		<option ng-repeat="party in parties">{{party}}}</option>
			    </select></span>
				</div>
				<br/>
				<div class="row">
					<label for="addClause" class="col-sm-3 col-md-2">WHAT</label>
					<span class="col-sm-9 col-md-10">
						   <select id="selectitem" class="form-control" ng-model="whatexchange" title="From Party">
		    			<option value="" selected="selected" disabled>Choose Item<option/>
		    			<option ng-repeat="item in items">{{item.title}}</option>

					</select></span>
				</div>
				<br/>
				<div class="row">
					<label for="selectfor" class="col-sm-3 col-md-2">TO</label>
					<span class="col-sm-9 col-md-10"><select class="form-control" id="selectfor" ng-model="forexchange" title="For Party">
		    		<option value="" selected="selected" disabled>Choose a user</option>
		    		<option ng-repeat="party in parties">{{party}} </option>
			    </select></span>
				</div>
				<br/>
				<div class="row">
					<label for="selectfor"  class="col-sm-3 col-md-2">WHEN</label>
					<div class='input-group date col-sm-8 col-md-9' id='datetimepicker'>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type='date' ng-model="whenexhange" class="form-control" />
					</div>
				</div>
				<br/>
				<div class="row">
					<label for="addClause" class="col-sm-3 col-md-2">WHERE</label>
					<span class="col-sm-9 col-md-10">

						<input type="text" ng-model="where" class="form-control" id="whereClauseExchange" placeholder="Write a place" ng-model="whereExhange"/>
					</span>
				</div>
				<br/>
				<div class="row">
					<button type="button" class="btn btn-default col-sm-offset-4 col-md-offset-5 btn btn-secondary col-sm-3 col-md-2" ng-click="updateclausesExchange()">Add Clause</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Implementing modalities field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-leaf"></span> Implementing modalities
			</label>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Modality</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="mod in modality">
						<td>{{mod}}</td>
						<td><button type="button" class="btn btn-danger" ng-click="updateActionModality(mod)">Update</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="deleteModality(mod)">Delete</button></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div>
				<textarea class="form-control" rows="5" cols="3" ng-model="form.addModClause" >{{ModUpText}}</textarea>
				<br>
				<button type="button" class="btn btn-default" ng-click="updatemodality()" data-ng-show="!upModality">Add modality</button>

				<button type="button" class="btn btn-default" ng-click="updatemodalityExist()" data-ng-show="upModality">Update modality</button>



			</div>
		</div>
	</div>

	<!-- Termination modalities field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-fire"></span> Termination modalities
			</label>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Modality</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="annulation in canceled">
						<td>{{annulation}}</td>
						<td><button type="button" class="btn btn-danger" ng-click="updateActionCan(annulation)">Update</button></td>
						<td>	<button type="button" class="btn btn-danger" ng-click="deleteTermModality(modality)">Delete</button></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div>
				<textarea class="form-control" rows="5" cols="3" ng-model="form.addCanceled" >{{ModUpText}}</textarea>
				<br>
				<button type="button" class="btn btn-default" ng-click="updateclausescanceled()" data-ng-show="!upCanCeled">Add modality</button>

				<button type="button" class="btn btn-default" ng-click="UpadateClauses()" data-ng-show="upCanCeled">Upadate modality</button>

			</div>
		</div>
	</div>

	<!-- Actions field -->
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
			<button class="btn btn-warning" type="button" onclick="window.history.back()">Cancel</button>
			<button class="btn btn-danger" type="button" ng-click="delete()" ng-show="{{action === 'edit'}}">Delete</button>
		</div>
	</div>

</form>