<div class="container">
	<h1 class="row col-sm-6">My contracts</h1>
		<div class="form-group col-sm-4">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="recherche">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			</div>
		</div>
</div>
<div class="well">
	<span class="label label-success">Signed Contract</span>
	<span class="label label-info">Modified Contract</span>
	<span class="label label-warning">New Contract</span>
	<span class="label label-danger">Contract Denied</span>
	<span class="label label-default">Transition</span>
</div>
<div class="row">
	<div class="col-sm-12 col-md-6" ng-repeat="contract in contracts | filter : recherche">
		<contract></contract>
	</div>
</div>
