<h2 ng-show="{{action === 'add'}}">Add a new contract</h2>
<h2 ng-show="{{action === 'edit'}}">Edit a contract</h2>

<form ng-submit="submit()">

	<br>
	<!-- Contract name field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label for="title" class="control-label">
				<span class="glyphicon glyphicon-file"></span> Contract name
			</label>
		</div>
		<div class="panel-body">
			<input type="hidden" id="id" ng-model="form.id">
			<input type="text" class="form-control" id="title" placeholder="Name" ng-model="form.title">
			<div ng-show="errorName"><font color="red"><em>You must fill out the contract name field</em></font></div>
		</div>
	</div>

	<!-- Parties field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-user"></span> Party
			</label>
		</div>
		<div class="panel-body">
			<div class="col-sm-8" ng-repeat="party in partiesList">
        <party/>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Choose a user" ng-model="form.addParty"
					uib-typeahead="user for user in users | filter:$viewValue | limitTo:8">
					<div ng-show="errorParty"><font color="red"><em>You must add a party</em></font></div>
				</div>
				<div class="col-sm-2">
					<button type="button" class="btn btn-default" ng-click="updateParties()">Add party</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Exchanges field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-gift"></span> Exchange
			</label>
		</div>
		<div class="panel-body">
			<div class="col-sm-12" ng-repeat="exchange in exchanges">
				<exchange/>
			</div>
			<div class="col-sm-8">
				<div class="row">
					<label for="selectfrom" class="col-sm-3 col-md-2">FROM</label>
					<span class="col-sm-9 col-md-10">
						<input type="text" class="form-control" placeholder="Choose a party"
							ng-model="form.addFrom" ng-change="updateItems()"
							uib-typeahead="party for party in parties | filter:$viewValue | limitTo:8"
							typeahead-on-select="updateItems()">
					</span>
				</div>
				<br/>
				<div class="row">
					<label for="addClause" class="col-sm-3 col-md-2">WHAT</label>
					<span class="col-sm-9 col-md-10">
						<input type="text" class="form-control" placeholder="Choose an item" ng-model="form.addWhat"
							uib-typeahead="item for item in items | filter:$viewValue | limitTo:8">
					</span>
				</div>
				<br/>
				<div class="row">
					<label for="selectfor" class="col-sm-3 col-md-2">TO</label>
					<span class="col-sm-9 col-md-10">
						<input type="text" class="form-control" placeholder="Choose a party" ng-model="form.addTo"
							uib-typeahead="party for party in parties | filter:$viewValue | limitTo:8">
					</span>
				</div>
				<br/>
				<div class="row">
					<label for="selectfor" class="col-sm-3 col-md-2">WHEN</label>
					<span class="col-sm-9 col-md-10"><div class='input-group date' id='datetimepicker'>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
						<input type='date' ng-model="form.addWhen" class="form-control" />
					</div></span>
				</div>
				<br/>
				<div class="row">
					<label for="addClause" class="col-sm-3 col-md-2">HOW</label>
					<span class="col-sm-9 col-md-10"><select class="form-control" id="selectfor" ng-model="form.addHow" title="For Party" >
		    		<option value="" selected disabled>Choose an exchange mode</option>
		    		<option ng-repeat="mode in exchangeModes">{{mode}} </option>
			    </select></span>
				</div>
				<br/>
				<div class="row">
					<label for="addClause" class="col-sm-3 col-md-2">DETAILS</label>
					<span class="col-sm-9 col-md-10">
						<input type="text" class="form-control" placeholder="place, address, timelimit..." ng-model="form.addDetails">
					</span>
				</div>
				<br/>
				<div class="row">
					<button type="button" class="btn btn-default col-sm-offset-4 col-md-offset-5" ng-click="updateExchanges()">Add Clause</button>
				</div>
				<div ng-show="errorExchange"><font color="red"><em>You must add an exchange clause</em></font></div>
			</div>
		</div>
	</div>

	<!-- Implementing modalities field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-leaf"></span> Implementing modalities
			</label>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Modality</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="modality in impModalities">
						<td>{{modality}}</td>
						<td><button type="button" class="btn btn-warning" ng-click="modifyImpModality(modality)">Modify</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="deleteImpModality(modality)">Delete</button></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div>
				<textarea class="form-control" rows="5" cols="3" ng-model="form.addImpModality" ></textarea>
				<div ng-show="errorImpModality"><font color="red"><em>You must add an implementing modality</em></font></div>
				<br>
				<button type="button" class="btn btn-default" ng-click="updateImpModalities()" data-ng-show="!modifImpMod.toModify">Add modality</button>
				<button type="button" class="btn btn-default" ng-click="validateImpModality()" data-ng-show="modifImpMod.toModify">Validate</button>
				<button type="button" class="btn btn-default" ng-click="cancelImpModality()" data-ng-show="modifImpMod.toModify">Cancel</button>
			</div>
		</div>
	</div>

	<!-- Termination modalities field -->
	<div class="form-group panel-success">
		<div class="panel-heading">
			<label class="control-label">
				<span class="glyphicon glyphicon-fire"></span> Termination modalities
			</label>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Modality</th>
						<th>Action</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="modality in termModalities">
						<td>{{modality}}</td>
						<td><button type="button" class="btn btn-warning" ng-click="modifyTermModality(modality)">Update</button></td>
						<td><button type="button" class="btn btn-danger" ng-click="deleteTermModality(modality)">Delete</button></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div>
				<textarea class="form-control" rows="5" cols="3" ng-model="form.addTermModality" ></textarea>
				<div ng-show="errorTermModality"><font color="red"><em>You must add a termination modality</em></font></div>
				<br>
				<button type="button" class="btn btn-default" ng-click="updateTermModalities()" data-ng-show="!modifTermMod.toModify">Add modality</button>
				<button type="button" class="btn btn-default" ng-click="validateTermModality()" data-ng-show="modifTermMod.toModify">Validate</button>
				<button type="button" class="btn btn-default" ng-click="cancelTermModality()" data-ng-show="modifTermMod.toModify">Cancel</button>
			</div>
		</div>
	</div>

	<!-- Actions field -->
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
			<button class="btn btn-warning" type="button" onclick="window.history.back()">Cancel</button>
			<button class="btn btn-danger" type="button" ng-click="delete()" ng-show="{{action === 'edit'}}">Delete</button>
		</div>
	</div>

</form>
