<h2>Inbox</h2>
<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills">
 			<li ng-repeat="chat in chats"><a ng-click="open(chat)" ng-if="chat.name != user.nick" class="tab" id="tab{{chat.name}}" href>{{chat.name}}</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="alert" role="alert" ng-show="searchMessages"><div class="loader"></div></div>
</div>
<!-- Display the "active" conversation (prepare the others but don't show them) -->
<div class="row">
	<div class="col-sm-12">
		<div class="well" ng-repeat="chat in chats" id="{{chat.name}}">
			<div ng-repeat="message in messages | orderBy: 'sendingDate'">
	            <p ng-if="(message.senderName == user.nick && message.receiverName == chat.name) || (message.senderName == chat.name && message.receiverName == user.nick)">
	            <b ng-if="message.senderName == user.nick">Me:</b> 
	            <b ng-if="message.senderName != user.nick">{{message.senderName}}:</b> 
	            {{message.messageContent}}<span class="pull-right"><em><small>{{message.sendingDate}}</small></em></span>
	            </p>
			</div>
			<div class="input-group input-group-lg">
			    <input type="text" class="form-control" ng-model="messageContent" placeholder="type your message here">
			    <span class="input-group-btn">
			        <button class="btn btn-default" type="button" ng-click="addMessage(chat.name,chat.id,messageContent)">Send</button>
			    </span>
			</div>
		</div>
	</div>
</div>
